.xr-image-prev {
    display: block;
    margin-bottom: 10px;
    max-width: 100px;
}

textarea {
	height: 200px;
}
.xr-text-input {
	width: 300px;
}
input[type=text] , textarea {
	padding: .5em;
}

.meta-title {
	font-weight: bold;
}
.meta-description {
    color: #797979;
}
.form-group {
    padding: .5em 0;
}

.wrap .form-table th {
	width: auto;
}
.form-table td p {
	margin-bottom: 10px;
}

.xr-image-select img {
	vertical-align: middle;
}

span.image-select-wrapper {
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
}